/*******************************************/
/*-----------------------------------------*/
/*-------STYLE SHEET FOR GORDON YASMAR-----*/
/*-----------------------------------------*/
/*******************************************/

/********************************/
/*--------------TEAM------------*/
/********************************/
/*
    Jonathan Champion
    Eric Selover

*/


/********************************/
/*----------Play Canvas---------*/
/********************************/
canvas {
            border: solid 1px #444;
}
/********************************/
/*---------FONT RELATED---------*/
/********************************/
p, a, li, h1, h2, h3, h4, h5 {
    font-family: "helvetica", "arial", sans-serif;
    font-size: 14px;
    color: #1d2326;
    font-style:normal;
    text-decoration: none;
    text-align: left;
    margin: 0;
}
a:hover {
    text-decoration: none;
}
#title h1 {
    padding-top: 18px;
    font-size: 44px;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    
}
#title h2 {
    color: #6a6a61;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
    
}
header nav ul li a {
    color: #6a6a61;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 100px;
    font-weight: bold;
    
}
header nav ul li a:hover {
    text-decoration: underline;
    color: #611427;
}
article h1{
    font-size: 26px;
    color: #ad2e4d;
    text-align: center;
    margin: 20px;
    margin-bottom: 10px;
}
article p {
    color: #f5f5eb;
}
article h2 {
    font-size: 18px;
    color: #ad2e4d;
    text-align: center;
    margin: 16px;
    margin-bottom: 10px;    
}
article a h2 {
    font-size: 18px;
    color: #ad2e4d;
    text-align: center;
    margin: 16px;
    margin-bottom: 10px;
}
article a h2:hover {
    color: #6a6a61;
}

/********************************/
/*-----------Main Stuff---------*/
/********************************/
html{
    
}
body{
    background: #dddcc5;
}
header{
    height: 120px;
}
#TextBox{
    background: #1d2326;
    
    margin-bottom: 0;
}
#video{
    height: 60%;
    margin-top: 100px;
    margin-bottom: 100px;
    background: #1d2326;
    box-sizing: border-box;
    padding: 16px;
}
article {
    position: relative;
    padding: 26px 16px 26px 16px;
    overflow: visible;
}
article p {
    text-indent: 25px;
}
.bio {
    width: 45%;  
}
article img {
    width: 100%;
    display: block;
}
#main{
    min-height:100px;
}
#main:after {
    visibility: hidden;
    display: block;
    height: 0px;
    clear: both;
}
div.fillV1, article.fillV1{
    box-sizing: border-box;
    min-height: 100%;
    margin-bottom: 0;
    display: block;
}
div.fillV, article.fillV{
    height:auto;
    box-sizing: border-box;
    margin-bottom: 0;
}
#biopic {
    float: right;
    margin-top: 50px;
}


/********************************/
/*---------Footer Stuff---------*/
/********************************/
footer p{
    box-sizing: border-box;
    padding-bottom: 30px;
    margin-top: 5px;
    font-size: 11px;
    color: #6a6a61;
}

/********************************/
/*---------Nav Bar Stuff--------*/
/********************************/
nav{
    margin: 0;
    padding: 0;
}
nav ul {
    float: left;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    
    list-style: none;
/*    line-height: 100px;*/
    margin-right: 15px;
    text-align: left;
}

/********************************/
/*----------Misc Stuff----------*/
/********************************/
.clear {
    clear: both;
}
#solidHorz {
    height: 5px;
    background: #1d2326;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
#solidHorzArticle {
    height: 2px;
    background: #ad2e4d;
    margin-bottom: 10px;
    margin-top: 10px;;
    padding: 0;
}
canvas {
    margin-left: 1%;
    padding: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

/********************************************/
/*-------------Media Queries----------------*/
/********************************************/
@media screen and (max-width: 850px){
    header nav.col5 {
        width: 98%;
    }
    article.col3, article.col4, article.col5, article.col6, div.col3, div.col4, div.col5, div.col6  {
        width: 98%;
        
    }
    #video {
        margin: 0;
        height: 600px;
    }
    #solidHorz {
        margin-top: 5px;
    }
    #title {
        width: 98%;
    }
    #title h1 {
        text-align: center;
    }
    #title h2 {
        text-align: center;
        
    }
    header nav {
        width:100%;
        margin: 0;
        padding: 0;
    }
    header nav ul {
        margin: 0;
        padding: 0;
        padding-left: 25px;
        float: left;
        width: 100%;
    }
    header nav ul li {
        padding-top: 0;
        float: left;
        padding-left: 0;
        text-align: center;
        width: 20%;
        margin-left: 0;
        line-height: 50px;
        
    }
    header nav ul li a {
        line-height: 50px;
    }
    
/********************************/
/*----------About Page----------*/
/********************************/
    article.about {
        width: 100%;   
    }
    article.about div.col7 {
        width: 100%;   
    }
    article.about h1{
        font-size: 36px;   
    }
    article.about h1, article.about h2 {
        margin-left: 0;   
        margin-right: 0;  
        padding: 0;
    }
}
