/*******************************************/
/*-----------------------------------------*/
/*-------STYLE SHEET FOR GORDON YASMAR-----*/
/*-----------------------------------------*/
/*******************************************/

/********************************/
/*--------------TEAM------------*/
/********************************/
/*
    Jonathan Champion
    Eric Selover

*/


/********************************/
/*----------Play Canvas---------*/
/********************************/
canvas {
            border: solid 1px #444;
}
/********************************/
/*---------FONT RELATED---------*/
/********************************/
p, a, li, h1, h2, h3, h4, h5 {
    font-family: "helvetica", "arial", sans-serif;
    font-size: 14px;
    color: #1d2326;
    font-style:normal;
    text-decoration: none;
    text-align: left;
    margin: 0;
}
a:hover {
    text-decoration: none;
}
#title h1 {
    padding-top: 18px;
    font-size: 44px;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
    
}
#title h2 {
    color: #6a6a61;
    font-size: 30px;
    text-align: right;
    font-weight: bold;
    
}
header nav ul li a {
    color: #6a6a61;
    font-size: 24px;
    text-transform: uppercase;
    line-height: 100px;
    font-weight: bold;
    
}
header nav ul li a:hover {
    text-decoration: underline;
    color: #611427;
}
article h1{
    font-size: 24px;
    color: #611427;
    text-align: center;
    margin-bottom: 26px;
}
article p {
    color: #f5f5eb;
}

/********************************/
/*--------Main Body Stuff-------*/
/********************************/
html{
    
}
body{
    background: #dddcc5;
}
header{
    
}
#TextBox{
    background: #1d2326;
    min-height: 70vh;
    margin-bottom: 0;
}
footer{
    box-sizing: border-box;
    padding-bottom: 30px;
}
article {
    box-sizing: border-box;
    padding: 26px 16px 26px 16px;
}


/********************************/
/*---------Nav Bar Stuff--------*/
/********************************/
nav{
    margin: 0;
    padding: 0;
}
nav ul {
    float: left;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    
    list-style: none;
/*    line-height: 100px;*/
    margin-right: 15px;
    text-align: left;
}

/********************************/
/*----------Misc Stuff----------*/
/********************************/
#solidHorz {
    height: 5px;
    background: #1d2326;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

